@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* styles.css */

/* Mobile-first approach */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

/* Responsive typography */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}
.hero-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border-radius: 50%;
}

/* Responsive navigation menu */
.menu {
    display: none;
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* Responsive grid layout */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* same styling to all type=submit */

input[type="submit"] {
    background-color: rgba(75, 0, 130, 0.8) !important;
    color: #fff;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* hover  */
input[type="submit"]:hover {
    background-color: rgb(212, 16, 124);
    color: #fff;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* same styling to all type=submit button */

button[type="submit"] {
    background-color: rgba(75, 0, 130, 0.8) !important;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    width: 100%;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* hover  */
button[type="submit"]:hover {
    background-color: rgb(212, 16, 124);
    color: #fff;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}